@page
@model Dropndot.Areas.Identity.Pages.Account.CheckEmailModel
@{
    ViewData["Title"] = "Check email";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}
<br />
<br />
<h2>@ViewData["Title"]</h2>
<br />
<p>
    Please check your inbox to confirm your account.
</p>
