@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}
<br />
<br />
<h1>@ViewData["Title"]</h1>
<br />
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
